<div class="relative">
  <div class="absolute inset-x-0 bottom-0 h-1/2"></div>
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="relative sm:rounded-2xl sm:overflow-hidden bg-[url('fond4.png')] bg-auto bg-no-repeat bg-center h-screen">
    </div>
  </div>
</div>





